// COLORS
$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-dark-blue-1: hsl(217, 54%, 11%);
$color-dark-blue-2: hsl(216, 50%, 16%);
$color-dark-blue-3: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);
$color-black: #000;

// SPACE
$space-0-5: 0.6rem;
$space-1: 1.2rem;
$space-2: 1.6rem;
$space-3: 2.4rem;

// BREAKPOINTS
$breakpoint-tablet: 768px;

// TRANSITIONS
$transition-link: all 0.25s;
